[submodule "reclass-system-salt-model"]
	path = reclass/classes/system
	url = https://github.com/Mirantis/reclass-system-salt-model
	branch = master
        ignore = all
[submodule "scripts"]
	path = scripts
	url = https://github.com/salt-formulas/salt-formulas-scripts
	branch = master
